In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(r"C:\Users\hp\OneDrive\Desktop\data analytics\Python\pandas\Datasets\Customer Call List.xlsx")
df

In [ ]:
df.set_index('CustomerID', inplace = True )
df

In [ ]:
df['Last_Name']= df['Last_Name'].str.strip('/..._')
df

In [ ]:
df=df.drop_duplicates()
df

In [ ]:
df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')
df

In [ ]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x : str(x))
df

In [ ]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x : x[0:3]+'-' + x[3:6]+'-' + x[6:10])
df

In [ ]:

df=df.replace("nan--", '')
df=df.replace("Na--", '')
df

In [ ]:
del df["Not_Useful_Column"]

In [ ]:
df[["Street_Address", "State", "ZipCode"]] = df["Address"].str.split(',', 2, expand = True)

In [ ]:
df

In [ ]:
df['Paying Customer'] = df['Paying Customer'].replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].replace('No','N')
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('No','N')
df

In [ ]:
df=df.replace('N/a','')

In [ ]:
df

In [ ]:
df=df.fillna('')

In [ ]:
df

In [ ]:
for x in df.index:
    if df.loc[x, 'Do_Not_Contact'] == 'Y':
        df.drop(x, inplace=True)
        
df

In [ ]:
for x in df.index:
    if df.loc[x, 'Phone_Number'] == '':
        df.drop(x, inplace=True)
        
df

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
del df['Address']

In [186]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,ZipCode
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
5,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,